        @{
            ViewBag.Title = "Home Page";
        }

        <div class="jumbotron">
            <h2>Welcome to Altaic Language School</h2>
            <p class="lead">Altaic Language School is for language enthusiasts who are interested in learning Altaic Languages.</p>
            <p> Currently we are located in Sydney and Melbourne </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Korean</h2>
                <p>
                    Korean is a language predominantly spoken in Korea.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Japanese</h2>
                <p>Japanese is a language predominantly spoken in Japan.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Mongolian</h2>
                <p>Mongolian is a language predominantly spoken in Mongolia.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
