        @{
            ViewBag.Title = "Home Page";
        }

    <div class="jumbotron">
        <img srcset="Lang400.png 400w,
             Lang600.png 600w,
             Lang800.png 800w"
             sizes="(max-width: 600px) 400px, (max-width: 800px) 600px,
            (max-width: 1000px)800px,  1000px"
             src="Lang800.png"
             alt="Altaic Language School">

        <h2>Welcome to Altaic Language School</h2>
        <p class="lead">Altaic Language School is for language enthusiasts who are interested in learning Altaic Languages.</p>
        <p> Currently we have schools running in Sydney, Perth and Melbourne </p>
    </div>